{% extends "base.html" %}
{% block content %}
<h2>Videotutoriais</h2>
 <article>
    <h3>1. Web Scrapping</h3>
    <p>Explicação do que fiz para webscraping dos tfcs</p>
    <iframe width="560" height="315"
        src="https://www.youtube.com/embed/LhAvy014tyc"
        allowfullscreen>
    </iframe>
</article>
<hr>

<article>
    <h3>2. Arquitetura Web e Pipeline CI/CD</h3>
    <p>Explicação da arquitetura do sistema: ambiente de desenvolvimento, Railway, Neon, Cloudinary e o processo de CI/CD.</p>
    <iframe width="560" height="315"
        src="https://www.youtube.com/embed/xDkKF3qXe5s"
        allowfullscreen>
    </iframe>
</article>
<hr>

<article>
    <h3>3. Developer em Ação</h3>
    <p>Como fazer uma alteração ao projeto a partir de uma máquina nova criação de Codespace, instalação do ambiente, alteração, push e deploy automático.</p>
    <iframe width="560" height="315"
        src="https://www.youtube.com/embed/BRqBClMv1JQ"
        allowfullscreen>
    </iframe>
</article>

{% endblock %}